---
import '../../styles/zeta.css';
const {data}=Astro.props;
---
{data.map((blogItem, index) => (

    <div class={`relative group ${index >= 3 ? 'hidden' : ''}`}>
      <a href={`/${blogItem.slug}`}>
        { console.log("href",blogItem.slug)
           }
        <img src={blogItem.featuredImage} alt="00Image" class="w-96 h-52 object-cover">

        <div class="absolute inset-0 bg-gray-700 opacity-0 group-hover:opacity-80 transition-opacity flex flex-col justify-between p-4 w-96 h-52">
          <!-- Centered "Read More" text -->
          <div class="flex items-center justify-center flex-grow">
            <h5 class="font-bold text-white"> Read more</h5>
          </div>
          <!-- "4 min read" text at the bottom -->
          <div class="flex justify-center">
            <h5 class="font-bold text-white"> 7 min of read</h5>
          </div>
        </div>
      </a>

      <div class="flex flex-col w-96 h-60 mt-2">
        <!-- Title -->
        <h3 class="text-lg font-bold mt-4 mb-4 text-green-500 hover:text-gray-950">worpress, woocommerce </h3>
        <!-- Description -->
        <p class="mt-1 mb-1 hover:text-gray-500 text-black font-bold text-lg">
          <a href="">{blogItem.title}</a> 
          
        </p>
        <div class="text-sm text-gray-600 mt-4 mb-3 line-clamp-3" id="egn">
          {blogItem.excerpt}
          </div>


        <!-- Author and Date -->
        <div class="flex items-center text-sm text-gray-600 space-x-1 mb-5">
          <span>BY</span>
          <span class="font-bold hover:text-gray-500 text-black">author</span>
          <span>•</span>
          <span>{blogItem.date} </span>
        </div>
      </div>
    </div>
  ))}

