---
import '../../styles/zeta.css'
const {doc,blog,home,contact,account,shop,ticket,support}=Astro.props;

const nav1 = [
  { name: 'Home', url: `${shop}`, style: 'text-lg' },
  { name: 'Services', url: '/help', style: 'text-lg', dropdown: [
    { name: 'Documentation', url: `${doc}` }, 
    { name: 'Open a Ticket', url:`${ticket}`},
    { name: 'Help Desk', url:`${support}`}
  ]},
  { name: 'Case Studies', url: `${blog}`, style: 'text-lg' },
  { name: 'About Us', url: `${contact}`, style: 'text-lg' },
  { name: 'Inshights', url: `${account}`, style: 'text-lg' },
  { name: 'Contact Us', url: `${account}`, style: 'text-lg' },

];

---


<nav class="bg-blue-950 text-white p-4 z-50">
  <div class="container mx-auto flex items-center justify-between glow-effect">
    {/* Logo */}
    <div class="flex-shrink-0">
      <a href="url" class={`underline-animation hover:text-gray-300 ${nav1[0].style}`}>
        HyScaler LOGO
      </a>
    </div>
    {/* Centered Navigation Items */}
    <div class="flex-1 flex justify-end space-x-4">
        {nav1.map(item => (
          <div class="relative group">
            <div class={`cursor-pointer underline-animation hover:text-gray-300 glow-effect ${item.style}`}>
              {item.name}
            </div>
              {item.name === 'Services' ? (
              <div id="service" class="absolute left-0 mt-2 hidden group-hover:block bg-white text-black border border-gray-200 w-60 p-4">
                <div class="w-full h-50 mt-15 rounded-lg p-11">

               
               <div class="grid grid-cols-3 grid-rows-7 gap-4">
                   <div >1</div>
                 
               </div>
               </div>
    
              </div>
            ) : null}
          </div>
        ))}
      </div>


    </div>
       


  </div>

  


  
</nav>

<!-- shareable cont -->

   
   

 

