---
import "../../styles/zeta.css";
import ContentCard from "../temPlates/ContentCard.astro";
import SrickyImg from "../temPlates/SrickyImg.astro";
import GrayText from "../temPlates/grayText.astro";
import SocialMedia from "../temPlates/SocialMedia.astro";
import Realted from "../temPlates/Realted.astro";
import HyContentCard from "./HyContentCard.astro";
import BlogText from "./BlogText.astro";
import Hyscaler1StSocial from "../temPlates/Hyscaler1stSocial.astro";
import FeaturedImg from "../temPlates/FeaturedImg.astro";
import Subscribe from "../temPlates/Subscribe.astro";
import Follow from "../temPlates/follow.astro";
import AllCategory1 from "../temPlates/AllCategory.astro";
import Tag from "../temPlates/Tag.astro";

const { data, sluglist, AllTag, AllCategory } = Astro.props; // here slug for current blog details slug and alldata for all blog details


const currentIndex = sluglist.findIndex((slug) => slug === data.slug);

const nextSlug = sluglist[currentIndex + 1]; //temporary setup
// const nextSlug = data.nextPost.slug; this will work when next post is not null and contain the next slug
---

<div id={data.slug} data-nextSlug={nextSlug} data-all={data}>
  <HyContentCard data={data} />
</div>
<div class="flex flex-row justify-center items-center mb-40">
  <div class="md:flex md:flex-row pr-16 mr-32 flex flex-col">
    <!-- 1st div -->
    <div class="mt-5 ml-40 p-2 pl-4 h-1/3 rounded-lg bg-white">
      <div class="pl-3 mr-3 mt-3">
        <div class="">
          <div>
            <p class="w-auto">
              <BlogText data={data} />
            </p>
          </div>
        </div>
        <Hyscaler1StSocial data={data} />
      </div>
    </div>

    <!-- 2nd div -->
    <div class="h-auto w-96 md:ml-3 ml-32">
      <FeaturedImg data={data} />
      <Subscribe />
      <Follow />

      <AllCategory1 AllCategory2={AllCategory} />

      <!-- tag section -->
      <Tag AllTag={AllTag} />
    </div>
  </div>
</div>
<!-- nxt post -->
<div id="nextpost" class="sm:hidden md:hidden lg:block xl:block 2xl:block">
</div>

<!-- to load more post -->
<script src="../../../public/scripts/content/inf.ts"></script>
