---
import MainLayout from '../../../layouts/zeta_layout.astro';
import '../../../styles/zeta.css';


const pages = [
{
  doc: 'doc',
  Heading:'Documentation',
  DocList: [{title:'Getting help',icon:'https://zetamatic.com/wp-content/uploads/2020/10/zetamatic-icon-256x256-1-40x40.png',article:'4 numbers'},
            {title:'WooCommerce',icon:'url2',article:'4 numbers'},
            {title:'Getting help',icon:'url',article:'4 numbers'},
            {title:'WooCommerce',icon:'url2',article:'4 numbers'},
            {title:'Getting help',icon:'url',article:'4 numbers'},
            {title:'WooCommerce',icon:'url2',article:'4 numbers'},
            {title:'Getting help',icon:'url',article:'4 numbers'},
            {title:'WooCommerce',icon:'url2',article:'4 numbers'}   
           ],
              
  
}
];

const { doc } = Astro.params;
const page = pages.find((page) => page.doc === doc);
console.log(page);

if (!page) return Astro.redirect("/404");
const { Heading,DocList } = page;
---
<MainLayout>

    <!-- card shown -->
    <div class="p-16">
        <h1 class="font-bold text-gray-950 mb-7 text-[50px]">{Heading}</h1>

        <div class="grid grid-cols-3 gap-7 mb-28 ">
          
        
            <div class="flex items-start space-x-4">
              <div>
               <img src={DocList[0].icon} alt="img1" class="w-10 h-10">
                  </div>
        <div class="relative group w-max">
            <span class="block group-hover:translate-y-6 transition-transform">
                <h2 class="truncate max-w-48">{DocList[0].title}</h2>
            </span>
            <h5 class="block absolute left-0 top-0 translate-y-full opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all">
                 {DocList[0].article}
            </h5>
        </div>
    </div>
    
    <!--  -->
    <div class="flex items-start space-x-4">
      <div>
       <img src={DocList[0].icon} alt="img1" class="w-10 h-10">
          </div>
<div class="relative group w-max">
    <span class="block group-hover:translate-y-6 transition-transform">
        <h2 class="truncate max-w-48">{DocList[0].title}</h2>
    </span>
    <h5 class="block absolute left-0 top-0 translate-y-full opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all">
         {DocList[0].article}
    </h5>
</div>
</div>

    
    
    <!--  -->
    <div class="flex items-start space-x-4">
      <div>
       <img src={DocList[0].icon} alt="img1" class="w-10 h-10">
          </div>
<div class="relative group w-max">
    <span class="block group-hover:translate-y-6 transition-transform">
        <h2 class="truncate max-w-48">{DocList[0].title}</h2>
    </span>
    <h5 class="block absolute left-0 top-0 translate-y-full opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all">
         {DocList[0].article}
    </h5>
</div>
</div>

    
    
    
    
    
    
    
    
    
    
    <!--  -->
    <div class="flex items-start space-x-4">
      <div>
       <img src={DocList[0].icon} alt="img1" class="w-10 h-10">
          </div>
<div class="relative group w-max">
    <span class="block group-hover:translate-y-6 transition-transform">
        <h2 class="truncate max-w-48">{DocList[0].title}</h2>
    </span>
    <h5 class="block absolute left-0 top-0 translate-y-full opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all">
         {DocList[0].article}
    </h5>
</div>
</div>

    
    
    <!--  -->
    <div class="flex items-start space-x-4">
      <div>
       <img src={DocList[0].icon} alt="img1" class="w-10 h-10">
          </div>
<div class="relative group w-max">
    <span class="block group-hover:translate-y-6 transition-transform">
        <h2 class="truncate max-w-48">{DocList[0].title}</h2>
    </span>
    <h5 class="block absolute left-0 top-0 translate-y-full opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all">
         {DocList[0].article}
    </h5>
</div>
</div>

    
    <!--  -->
    <div class="flex items-start space-x-4">
      <div>
       <img src={DocList[0].icon} alt="img1" class="w-10 h-10">
          </div>
<div class="relative group w-max">
    <span class="block group-hover:translate-y-6 transition-transform">
        <h2 class="truncate max-w-48">{DocList[0].title}</h2>
    </span>
    <h5 class="block absolute left-0 top-0 translate-y-full opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all">
         {DocList[0].article}
    </h5>
</div>
</div>

    <!--  -->
    <div class="flex items-start space-x-4">
      <div>
       <img src={DocList[0].icon} alt="img1" class="w-10 h-10">
          </div>
<div class="relative group w-max">
    <span class="block group-hover:translate-y-6 transition-transform">
        <h2 class="truncate max-w-48">{DocList[0].title}</h2>
    </span>
    <h5 class="block absolute left-0 top-0 translate-y-full opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all">
         {DocList[0].article}
    </h5>
</div>
</div>

    
    
    
    <!--  -->
    <div class="flex items-start space-x-4">
      <div>
       <img src={DocList[0].icon} alt="img1" class="w-10 h-10">
          </div>
<div class="relative group w-max">
    <span class="block group-hover:translate-y-6 transition-transform">
        <h2 class="truncate max-w-48">{DocList[0].title}</h2>
    </span>
    <h5 class="block absolute left-0 top-0 translate-y-full opacity-0 group-hover:translate-y-0 group-hover:opacity-100 transition-all">
         {DocList[0].article}
    </h5>
</div>
</div>

    
    </div>
    
    </div>
  
  </MainLayout>