---
import '../styles/zeta.css';
import BaseHead from '../components/layOuts/ZetaHead.astro';
import Navbar from '../components/layOuts/ZetaNav.astro'
import Footer from '../components/layOuts/ZetaFooter.astro'
import { doc } from '../pages/DemoBackend.astro';
import { blg } from '../pages/DemoBackend.astro';
import { home } from '../pages/DemoBackend.astro';
import { contact } from '../pages/DemoBackend.astro';
import { account } from '../pages/DemoBackend.astro';
import { shop } from '../pages/DemoBackend.astro';
import { ticket } from '../pages/DemoBackend.astro';
import { support } from '../pages/DemoBackend.astro';
import HyNav from '../components/layOuts/hyNav.astro';
import HyFooter from '../components/layOuts/hyFooter.astro';
---

<!DOCTYPE html>
<html lang="en">
  <BaseHead title="zeta astro website clone"/>

 
  <body class="flex flex-col min-h-screen">

    <!-- Navigation Bar -->
    <!-- <HyNav doc={doc.slug} blog={blg[0].slug} home={home.slug} contact={contact.slug} account={account.slug} shop={shop.slug} ticket={ticket.slug} support={support.slug}/> -->
  
    <!-- Main Content Area -->
    <main class="flex-grow bg-gray-100">
     <slot/>
    </main>
    
 <!-- Footer -->
    <!-- <HyFooter/> -->
    
    
  </body>
</html>
